<!DOCTYPE html>
<html>
    <title>Dynamic loop</title>
    <head>Dynamic data</head>
    <body>
        <ul>
            <%user.skills.forEach((item)=>{
            %>
            <li><%=item %></li>
            <% })%>
        </ul>
    </body>
</html>