<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>welcome <%= user.name%></h1>
        <h1>Phone:<%= user.phone%></h1>
        <h1>City:<%= user.city%></h1>

        <h1>This is my Profile Page</h1> 
    </body>
</html>